.TitleBar {
    background-color:wheat;
    margin: 0;
    color:black !important;
    text-align: center;
    font-size: x-large;
    z-index: 5;
  }

  .TitleBar:hover{
background-color: maroon;
color: wheat !important;
  }

  body
  {
      color:white;
    }

    h1{
        margin: 0;
        font-size: 6.7rem;
    font-family: cursive;
    border-bottom: solid;
    border-bottom-color: maroon;
    border-right: solid;
    border-right-color: maroon;
    border-left: solid;
    border-left-color: maroon;
    }

    h2{
      font-size: 5rem;
      font-weight: bold;
      text-decoration: underline;
      padding-bottom:.5rem;
      text-shadow: crimson;
    }

    .PageBody1{
        background-image: url(assets/MomPresBackground.jpg);
        z-index: 1;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .centerBlock {
      display: flex;
  justify-content: center;
    }

    .sticky {
      position:fixed;
      top: 0;
      width: 100%
    }

    .notSticky{
      position:static;
      top: 0;
      width: 100%
    }

    .main{
      margin-top: 10.5rem;
      
    }

    div{
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
    }

    .reason{
     padding:2.7rem;
      font-size: 3rem;
      font-weight: bolder;
      background-image: url(assets/mornglor.jpg);
      color:black;
      background-size: 13rem;
      background-position: center;
    }

    .reason:hover{
      background-image:  url(assets/morngloralt.jpg);
  
    }

    .footermike{
      text-align: center;
      font-family: cursive;
      font-size: large;
      bottom: 0;
  width: 100%;
    }

.arrowRight{
  height: 9rem;
  width: auto;
  margin-top: 7rem;
  margin-right: 15rem;
}

.arrowLeft{
  height: 9rem;
  width: auto;
  margin-top: 7rem;
  margin-left: 15rem;
}

    .arrowRight:hover{
      height: 14rem;
      width: auto;
    }
    .arrowLeft:hover{
      height: 14rem;
      width: auto;
    }

.displayedPicMain{
  border-color: white; 
  border:solid;
  height: 31rem;
  width: auto;
}

.displayedPic{
  border-color: white; 
  border:solid;
  height: 26rem;
  width: auto;
}

.displayedPicBig{
  border-color: white; 
  border:solid;
  height: 58rem;
  width: auto;
  max-width: 60rem;
}

.displayedPicRoku{
  border-color: rgb(136, 8, 130); 
  height: 60.5rem;
  border:solid;
  width: auto;
}

.displayedPicRokuBig{
  border-color: rgb(136, 8, 130); 
  border: solid;
  height: 110rem;
  width: auto;
}

/*.displayedPic:hover{
height: 35rem;
}
*/
.info{
  margin:2.5rem; margin-right:17rem; margin-left: 17rem; background-color: rgba(53, 0, 53, 0.397); font-weight: bold; font-size: 2.5rem; font-family: -webkit-pictograph; border:solid; border-width: .1rem; border-color: rgba(131, 0, 0, 0.144);
}

.Surprise{
  border: dashed;
  border-color:green;
  border-width: .5rem;
  background-color: rgba(21, 27, 5, 0.596);
}

.SurpriseMessage{
text-align: Center;
color: red;
font-family: monospace;
font-size: 3rem;
}

.hidden{ 
  display: none;
}


  

  